<h1>Messages</h1>

  <hr>

<% if current_user %>

  <% if @user.messages.any? %>
    <ul>
      <%= render @messages %>
    </ul>
  <% else %>
    <h4>There are no sent messages yet</h4>
  <% end %>

  <% if @user.contacts.any? %>
    <ul>
      <%= link_to "new message", new_user_contact_message_path(@user, @contact), id: "new-form", remote: true %>
      <div id="new-form-receiver"></div>
    </ul>
  <% else %>
    <h4>Please create a contact in order to send a message</h4>
  <% end %>

  <hr>

  <ul>
    <%= render "contacts", {:user => @user, :contacts => @contacts} %>
  </ul>
  <ul>
    <%= link_to "new contact", new_user_contact_path(current_user), id: "new-contact-form", remote: true %>
    <div id="new-contact-form-receiver"></div>
  </ul>
  <hr>


<% else %>
  <h1>Please Log In To Use Our Service</h1>
<% end %>
